.explore-menu {
  padding: 50px 20px;
  background: linear-gradient(135deg, #fff1e6, #ffe5d0);
  border-radius: 24px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.08);
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease-in-out;
  max-width: 1200px;
  margin: auto;
  margin-top: 5px;
}

.explore-menu h1 {
  font-size: 2.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;

  background: linear-gradient(to right, #f36e62, #de1c7d);
  color: transparent;
  -webkit-mask-image: linear-gradient(to right, #fff, #fff);
  -webkit-mask-clip: text;
  -webkit-text-fill-color: unset;
  mask-image: linear-gradient(to right, #fff, #fff);
  mask-clip: text;
}


.explore-menu-text {
  font-size: 1.1rem;
  text-align: center;
  color: #444;
  max-width: 750px;
  margin: 0 auto 24px auto;
  line-height: 1.8;
  font-weight: 500;
  padding: 0 10px;
}

.explore-menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  padding: 10px 0;
  justify-items: center;
}

.explore-menu-list-item {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, background 0.3s;
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.explore-menu-list-item:hover {
  transform: scale(1.05);
  background-color: #fff7f0;
}

.explore-menu-list-item img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid #ffccbc;
  transition: 0.3s ease;
  box-shadow: 0 6px 20px rgba(255, 138, 101, 0.2);
}

.explore-menu-list-item img.active {
  border: 3px solid #ff5722;
  box-shadow: 0 0 18px rgba(255, 87, 34, 0.5);
}

.explore-menu-list-item p {
  margin-top: 10px;
  font-size: 14px;
  color: #222;
  font-weight: 600;
}

.explore-menu hr {
  height: 2px;
  background-color: #ffccbc;
  border: none;
  margin: 20px auto;
  width: 85%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .explore-menu h1 {
    font-size: 2rem;
  }

  .explore-menu-text {
    font-size: 1rem;
    padding: 0 10px;
  }

  .explore-menu-list {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 16px;
  }

  .explore-menu-list-item img {
    max-width: 200px;
    height: 120px;
  }

  .explore-menu-list-item p {
    font-size: 13px;
  }
}
